.detail-wrapper {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
}

li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}
ul {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

.detail-wrapper.active {
  background: linear-gradient(35deg, #494949, #313131);
  color: white;
}

button {
  padding: 1rem 2rem;
  color: #313131;
  background: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
}

.info {
  margin-left: 10rem;
}

.recipe-img {
  width: 500px;
  height: auto;
}