.List {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.SLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2rem;
  text-decoration: none;
  background: linear-gradient(35deg, #494949, #313131);
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  transform: scale(0.9);
}

h4 {
  color: white;
  font-size: 0.8remrem;
}
svg {
  font-size: 1.5rem;
  color: white;
}
.SLink.active {
  background: linear-gradient(to right, #f27121, #e94057);
  svg {
    color: white;
  }
  h4 {
    color: white;
  }
}

.SLink:hover {
    background: linear-gradient(to right, #f27121, #e94057);
}
